@model LearnX.Models.Student


<!-- Display Error if not matched -->
@if (ViewBag.found == false)
{
    <div class="alert alert-danger d-flex align-items-lg-stretch alert-dismissible fade show" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-1"></i>
        <div>
            Student not found.
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<section>
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <div class="d-flex justify-content-center pt-lg-5">
                    <h4>Reset password</h4>
                </div>
                <form asp-action="Forget" method="post">
                    <div class="form-outline mb-3">
                        <label asp-for="StudentName" class="form-label">Name</label>
                        <input asp-for="StudentName" type="text" class="form-control" placeholder="Enter Username" />
                    </div>
                    <div class="d-flex flex-column">
                        <input type="submit" value="Find Student" class="btn btn-primary" />
                        <a asp-action="Login">Back to login</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

@if (ViewBag.found==true)
{
    <hr />
    <h4>Reset password</h4>
    <form asp-action="ChangePassword" method="post">


        <div class="form-outline mb-3">
            <label class="form-label">Create a new password</label>
            <input name="NewPassword" type="password" class="form-control" required />
        </div>
        <input type="hidden" name="StudentName" value="@Model?.StudentName" />

        <input type="submit" value="Update Password" class="btn btn-success" />
    </form>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}








